.chat__header {
  top: 40px;
  width: 88vw;
  background-color: #ececee;
  margin-left: 68px;
  height: 75px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 19px 38px rgba(227, 226, 235, 0.3),
    0 15px 12px rgba(227, 226, 235, 0.2);
}

.chat__header-name,
.chat__header-icon {
  opacity: 0.6;
}

.chat__header-name {
  position: absolute;
  left: 70px;
}

.chat__header-icon i {
  font-size: 13px;
  margin-right: 17px;
  cursor: pointer;
}

.chat__header-icon {
  position: absolute;
  left: 360px;
}

.chat-screen {
  background-color: #ececee;
  width: 88vw;
  height: 420px;
  margin-left: 68px;
  margin-top: 38px;
  overflow-y: scroll;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding: 0px 20px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.chat__timestamp {
  padding: 10px 0px;
  font-size: 12px;
}

.incoming-message img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  display: block;
  background-color: #ff5244;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
}

.message__author {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

.message__timestamp {
  margin: 15px;
  font-size: 12px;
  font-weight: 300;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnimation 0.5s ease-in-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnimation 0.5s ease-out forwards;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  width: 400px;
  margin-left: 68px;
}

.chat__write {
  bottom: 0px;
  border-radius: 0;
  padding: 10px 60px;
  margin: 0 auto;
  border: none;
  width: 100%;
  font-size: 14px;
  transition: width 0.5s ease-in, border-radius 0.5s ease-in,
    transform 0.5s ease-in;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-50px);
  border-radius: 40px;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  animation: float 2s ease-in-out infinite forwards;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

@keyframes float {
  0% {
    transform: translateY(-50px);
    box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
      0 1px 3px -1px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: translateY(-60px);
    box-shadow: 0 2px 5px -100px rgba(50, 50, 93, 0.25),
      0 1px 3px -1px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: translateY(-50px);
    box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
      0 1px 3px -1px rgba(0, 0, 0, 0.3);
  }
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__icon-left {
  position: absolute;
  left: 30px;
}

.chat__icon-right {
  position: absolute;
  right: 30px;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column :nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 20px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}
