.side-bar {
  background-color: #ececee;
  width: 68px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  padding: 50px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.side-bar .side-bar__list--big {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 135px;
}

.side-bar .side-bar__list-link i {
  font-size: 25px;
  color: #3e3337;
  opacity: 50%;
}

.side-bar__list-link i:hover {
  opacity: 100%;
}

.side-bar .side-bar__list--small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.side-bar .side-bar__list--small i {
  font-size: 20px;
  color: #4c4c4e;
}

.side-bar__list-link {
  position: relative;
}

.side-bar__badge {
  position: absolute;
  top: -9px;
  right: -9px;
  color: white;
  font-size: 10px;
  background-color: #ff5244;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@keyframes showSideBar {
  from {
    transform: translateX(-80px);
  }
  to {
    transform: none;
  }
}

.side-bar {
  transform: translateX(-80px);
  animation: showSideBar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}

.side-bar__list--small i {
  cursor: pointer;
}
